<Html>  
    <head>   
    <title>  
    Genrate OTP
    </title>  
    </head>  
    <body bgcolor="LightGray"> 
    <br>  
    <br>  
    <form action="/members/forgotpass/" method="post">
    {% csrf_token %}  

    Password:  
    <input type="Password" id="pass" name="pass" required> <br>   
    <br> <br>  
    Re-type password:  
    <input type="Password" id="repass" name="repass" required> <br> <br>  
    <input type="submit" value="Submit"/>
    </form>
    <centre>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
            {% endif %}
        </centre>
</body>  
</html>  