<Html>

    <head>
        <title>
            Registration
        </title>
    </head>
    
    <body bgcolor="LightGray">
        <br>
        <br>
        <form action="/forms/reexam/" method="post">
            {% csrf_token %}
    
            <label> Firstname </label>
            <input type="text" name="firstname" size="16" /> <br> <br>
            <label> Middlename: </label>
            <input type="text" name="middlename" size="16" /> <br> <br>
            <label> Lastname: </label>
            <input type="text" name="lastname" size="16" /> <br> <br>
    
    
            <label>
                Roll Number :
            </label>
            <input type="text" name="rollno" size="12" required /> <br> <br>
    
            <label>
                Department :
            </label>
            <input type="text" name="dept" size="16" /> <br> <br>

            <label>
                Category :
            </label>
            <input type="text" name="category" size="16" /> <br> <br>
    
    
            <label> Hostel Room No.  </label>
            <input type="text" name="hostelroom" size="16" /> <br> <br>
    
            <label> Email </label>
            <input type="email" name="email" size="16" /> <br> <br>
    
            <label>
                Receipt No. :
            </label>
            <input type="text" name="receipt" size="16" /> <br> <br>

            <br>

            <label> Course No 1.  </label>
            <input type="text" name="cnum1" size="16" /> <br> <br>
            <label> Course Name 1.  </label>
            <input type="text" name="cname1" size="16" /> <br> <br>
            <label> Course Slot 1.  </label>
            <input type="text" name="cslot1" size="16" /> <br> <br>
            <label> Course Grade 1.  </label>
            <input type="text" name="cgrade1" size="16" /> <br> <br>
            <label> Course Instructor 1.  </label>
            <input type="text" name="cinstr1" size="16" /> <br> <br>

            <br>

            <label> Course No 2.  </label>
            <input type="text" name="cnum2" size="16" /> <br> <br>
            <label> Course Name 2.  </label>
            <input type="text" name="cname2" size="16" /> <br> <br>
            <label> Course Slot 2.  </label>
            <input type="text" name="cslot2" size="16" /> <br> <br>
            <label> Course Grade 2.  </label>
            <input type="text" name="cgrade2" size="16" /> <br> <br>
            <label> Course Instructor 2.  </label>
            <input type="text" name="cinstr2" size="16" /> <br> <br>

            <br>

            <label> Course No 3.  </label>
            <input type="text" name="cnum3" size="16" /> <br> <br>
            <label> Course Name 3.  </label>
            <input type="text" name="cname3" size="16" /> <br> <br>
            <label> Course Slot 3.  </label>
            <input type="text" name="cslot3" size="16" /> <br> <br>
            <label> Course Grade 3.  </label>
            <input type="text" name="cgrade3" size="16" /> <br> <br>
            <label> Course Instructor 3.  </label>
            <input type="text" name="cinstr3" size="16" /> <br> <br>

            <br>

            <label> Course No 4.  </label>
            <input type="text" name="cnum4" size="16" /> <br> <br>
            <label> Course Name 4.  </label>
            <input type="text" name="cname4" size="16" /> <br> <br>
            <label> Course Slot 4.  </label>
            <input type="text" name="cslot4" size="16" /> <br> <br>
            <label> Course Grade 4.  </label>
            <input type="text" name="cgrade4" size="16" /> <br> <br>
            <label> Course Instructor 4.  </label>
            <input type="text" name="cinstr4" size="16" /> <br> <br>



            <input type="submit" value="Submit" />
        </form>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}
    </body>
    
    </html>